port=0
interface={{ bootstrap_interface }}
bind-interfaces
dhcp-range={{ dhcp_range_start }},{{ dhcp_range_end }},{{ subnet_mask }},infinite
dhcp-leasefile=/tmp/dnsmasq.leases
no-resolv
log-dhcp
domain=cluster.local
domain-needed
bogus-priv
